@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger alert-dismissible text-bg-danger border-0 fade show" id="modelState" role="alert">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>Erro </strong> <div style="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-bg-danger"></div>
    </div>

}

@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgRetorno">@ViewBag.Sucesso</h3>
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <div style="padding-top: 15px"></div>

    <div class="alert alert-success alert-dismissible text-bg-success border-0 fade show" id="modelState" role="alert">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong></strong> @Html.Raw(TempData["Sucesso"].ToString())
    </div>
}

@if (TempData["Aviso"] != null)
{
    <div style="padding-top: 15px"></div>

    <div class="alert alert-warning text-bg-warning border-0 alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>Aviso - </strong> @Html.Raw(TempData["Aviso"].ToString())
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $("#modelState").delay(3000).hide("slow");
</script>
