@model SolutionsTech.Business.Entity.UserType

@{
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
			</div>
			<h4 class="page-title">Deletar Produto</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<form asp-action="Delete" method="post" class="needs-validation">

					<div class="mb-3">
						<input class="form-control" asp-for="Name" />
					</div>

					<input type="hidden" asp-for="IdUserType" />
					<button class="btn btn-danger" value="Delete" type="submit">Delete</button>
					<a asp-action="Index" class="btn btn-secondary">Voltar</a>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/datatable/datatable.js"></script>
	<script>
		$(document).ready(function () {
			new DataTable('#example');
		});
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
