@model SolutionsTech.MVC.Dto.UserDto

@{
	ViewData["Title"] = "Edit";
}
<hr />
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
			</div>
			<h4 class="page-title">Editar do Cliente</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="IdUser" />
					<div class="form-group">
						<label asp-for="Name" class="control-label">Nome</label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Cel" class="control-label">Celular</label>
						<input asp-for="Cel" class="form-control" />
						<span asp-validation-for="Cel" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Email" class="control-label">Celular</label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Address" class="control-label">Bairro</label>
						<input asp-for="Address" class="form-control" />
						<span asp-validation-for="Address" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DtBorn" class="control-label">Data de Nascimento</label>
						<input asp-for="DtBorn" class="form-control" />
						<span asp-validation-for="DtBorn" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DtDeactivation" class="control-label">Data de Desativação</label>
						<input asp-for="DtDeactivation" class="form-control" />
						<span asp-validation-for="DtDeactivation" class="text-danger"></span>
					</div>

					<div class="form-group">
						<select asp-for="IdUserType" id="IdUserType" class="form-control" required asp-items="@(new SelectList(Model.UserTypes, "IdUserType", "Name"))">
							<option value="">Selecione o perfil</option>
						</select>
					</div>

					<br />
					<div class="form-group form-check">
						<label class="form-check-label">
							<input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
						</label>
					</div>
					<div class="form-group">
						<input type="submit" value="Salvar" class="btn btn-primary" />
						<a asp-action="Index" class="btn btn-primary">Voltar</a>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
