@model SolutionsTech.Business.Entity.User

@{
	ViewData["Title"] = "Edit";
}
<hr />
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
			</div>
			<h4 class="page-title">Cadastro de Cliente</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="IdUser" />
					<div class="form-group">
						<label asp-for="Name" class="control-label">Nome</label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Cel" class="control-label">Celular</label>
						<input asp-for="Cel" class="form-control" />
						<span asp-validation-for="Cel" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Email" class="control-label">Celular</label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Address" class="control-label">Bairro</label>
						<input asp-for="Address" class="form-control" />
						<span asp-validation-for="Address" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DataNacimento" class="control-label">Data de Nascimento</label>
						<input asp-for="DataNacimento" class="form-control" />
						<span asp-validation-for="DataNacimento" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DtDeactivation" class="control-label">Data de Desativação</label>
						<input asp-for="DtDeactivation" class="form-control" />
						<span asp-validation-for="DtDeactivation" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IdUserType" class="control-label">IdUsuario</label>
						<input asp-for="IdUserType" class="form-control" />
						<span asp-validation-for="IdUserType" class="text-danger"></span>
					</div><br />
					<div class="form-group">
						<input type="submit" value="Salvar" class="btn btn-primary" />
						<a asp-action="Index" class="btn btn-primary">Voltar</a>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
