@model SolutionsTech.MVC.Dto.SchedulingDto

@{
	ViewData["Title"] = "Create";
}
<link href="~/datatable/datatable.css" rel="stylesheet" />


<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
			</div>
			<h4 class="page-title">Criar Agendamento</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">

				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Name" class="control-label">Nome</label>
						<input asp-for="Name" class="form-control" />
					</div>
					<div class="form-group">
                        <label asp-for="Name" class="control-label">Cliente</label>
                        <select asp-for="IdUser" id="IdUser" class="form-control" required asp-items="@(new SelectList(Model.Users, "IdUser", "Name"))">
                            <option value="">Selecione o Cliente</option>
                        </select>
                    </div>
					<div class="form-group">
						<label asp-for="Name" class="control-label">Forma de Pagamento</label>
						<select asp-for="IdFormPayment" id="IdFormPayment" class="form-control" required asp-items="@(new SelectList(Model.FormPayments, "IdFormPayment", "Name"))">
							<option value="">Selecione o Pagamento</option>
						</select>
					</div>
					<div class="form-group">
						<label asp-for="TotalValue" class="control-label">Valor Total</label>
						<input asp-for="TotalValue" class="form-control" />
					</div>
					<div class="form-group">
						<label asp-for="Observation" class="control-label">Observação</label>
						<input asp-for="Observation" class="form-control"/>
					</div>
					<div class="form-group mt-3">
						<input type="submit" value="Criar" class="btn btn-primary" />
						<a asp-action="Index" class="btn btn-secondary">Voltar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/datatable/datatable.js"></script>
	<script>
		$(document).ready(function () {
			new DataTable('#example');
		});
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}