@model SolutionsTech.Business.Entity.Scheduling

@{
	ViewData["Title"] = "Edit";
}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
			</div>
			<h4 class="page-title">Editar Cliente</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="IdUser" />
					<div class="form-group">
						<label asp-for="Name" class="control-label">Nome</label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="IdUser" class="control-label">Cliente</label>
						<input asp-for="IdUser" class="form-control" />
					</div>
					<div class="form-group">
						<label asp-for="IdFormPayment" class="control-label">Pagamento</label>
						<input asp-for="IdFormPayment" class="form-control" />
					</div>
					<div class="form-group">
						<label asp-for="TotalValue" class="control-label">Valor Total</label>
						<input asp-for="TotalValue" class="form-control" />
					</div>
					<div class="form-group">
						<label asp-for="Observation" class="control-label">Observação</label>
						<input asp-for="Observation" class="form-control" type="date" />
					</div>
					@* 					<div class="form-group">
						<label asp-for="Name" class="control-label">Perfil</label>
						<select asp-for="IdUserType" id="IdUserType" class="form-control" required asp-items="@(new SelectList(Model.UserTypes, "IdUserType", "Name"))">
							<option value="">Selecione o perfil</option>
						</select>
					</div> *@
					<br />
					<div class="form-group">
						<input type="submit" value="Salvar" class="btn btn-primary" />
						<a asp-action="Index" class="btn btn-primary">Voltar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/datatable/datatable.js"></script>
	<script>
		$(document).ready(function () {
			new DataTable('#example');
		});
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
