@model SolutionsTech.MVC.Dto.ProductDto

@{
	ViewData["Title"] = "Edit";
}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
			</div>
			<h4 class="page-title">Editar Cliente</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<form asp-action="Edit" method="post" class="needs-validation">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="IdProduct" />
					<div class="mb-1">
						<label asp-for="Name" class="control-label">Nome</label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Size" class="control-label">Tamanho</label>
						<input asp-for="Size" class="form-control" />
						<span asp-validation-for="Size" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Name" class="control-label">Marca</label>
						<select asp-for="IdBrand" id="IdBrand" class="form-control" required asp-items="@(new SelectList(Model.Brands, "IdBrand", "Name"))">
							<option value="">Selecione a Marca</option>
						</select>
					</div>
					<br />
					<div class="form-group form-check">
						<label class="form-check-label">
							<input class="form-check-input" asp-for="Active" />Ativo
						</label>
					</div>
					<br />
					<button class="btn btn-primary" type="submit">Editar</button>
					<a asp-action="Index" class="btn btn-secondary">Voltar</a>
				</form>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
